.appLogo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .appLogo {
      animation: appLogoSpin infinite 20s linear;
    }
}

@keyframes appLogoSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}