.app {
  text-align: center;
}

.appHeader {
  background-color: var(--black-variant-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcomeText {
  color: var(--green-variant-1);
}

.completed {
  text-decoration: line-through;
}
